{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}

<head>
  <title>Add New Employee Account</title>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; 
    }
    .card {
      width: 50%; 
      margin: 0 auto; 
      padding: 20px;
      background-color: #eee;
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .image-column {
      display: flex;
      justify-content: center;
    }
    .image-column img {
      width: 50px;
      height: auto; 
    }
    .row {
      margin-bottom: 15px; 
    }
    
    input[type="text"],
    input[type="password"] {
      border: 1px solid #ccc; 
      border-radius: 5px; 
      padding: 8px; 
      background-color: white; 
      width: 100%; 
    }

    .btn-edit {
      font-size: 18px; 
      padding: 6px 28px; 
    }

    .invalid-input {
      border: 1px solid red !important;
    }
  </style>
</head>

<body class="bg-light">  
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
          <div class="col-md-auto d-flex align-items-center">
            <h4 class="m-0 mr-3">Add New Employee Account</h4>
          </div>
        </div>
    </div>
    <div class="row p-5"></div>
    <div class="card">
      <form method="POST" action="{% url 'add_new_employee' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-2 mb-4">
            <div class="col"><h4>Employee Profile</h4></div>
            <div class="col d-flex justify-content-end">
                <h6>Role: Employee</h6>
            </div>
        </div>

        <!-- Employee Name -->
        <div class="row">
            <!-- First Name -->
            <div class="col">
                <label for="employee_first_name">First Name</label><br>
                <input type="text" id="first_name" name="first_name" required>
            </div>
            
            <!-- Last Name -->
            <div class="col">
                <label for="employee_last_password">Last Name</label><br>
                <input type="text" id="last_name" name="last_name" required>
            </div>
        </div>

        <!-- Account details -->
        {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            {{ error_msg }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <label for="employee_username">Username</label><br>
                <input type="text" id="username", name="username" required>
            </div>
            <div class="col">
                <label for="employee_password">Password</label><br>
                <input type="password" id="password" name="password" required>
            </div>
        </div>
        <div class="mb-3">
          <div class="row">
              <div class="col-md-10">
                  <label for="profile_picture" class="form-label custom-text">Picture:</label>
                  <div id="image-preview" class="mb-3"></div>
                  <div class="input-group">
                      <input type="file" name="profile_picture" accept="image/*" id="profile_picture" class="form-control">
                      <button type="button" id="remove-image" style="display: none; margin-left: 10px;" class="btn btn-outline-danger">Remove Image</button>
                  </div>
              </div>
          </div>
      </div>  

        <!-- Cancel & Save button row -->
        <div class="row mt-3">
          <div class="col">
            <a class="btn btn-danger btn-edit" onclick="showCancelWarningModal()">Cancel</a>
          </div>
          <div class="col-md-auto">
            <button class="btn btn-primary btn-edit" href="#" onclick="validateForm()">Save New Employee</button>
          </div>
        </div>
    </div>

    <script>
       // Function to display the cancel warning modal
       function showCancelWarningModal() {
        var myModal = new bootstrap.Modal(document.getElementById('cancelWarningModal'));
        myModal.show();
      }

      // Function to direct back to current inventory
      function cancelForm() {
        window.location.href = "{% url 'employee_accounts' %}";
      }

      // Function to validate form inputs
      function validateForm() {
        var inputs = document.querySelectorAll('input[required]');
        var isValid = true;

        inputs.forEach(function(input) {
          input.classList.remove('invalid-input'); // Remove any existing invalid-input class
          if (!input.value.trim()) {
            isValid = false;
            input.classList.add('invalid-input'); // Add red outline for empty fields
          }
        });

        if (isValid) {
          // All required fields are filled, prompt for confirmation
          var confirmation = confirm('Are you sure you want to save a new account?');
          if (confirmation) {
            // If user confirms, proceed with saving
            return true;
          } else {
            // If user cancels confirmation, prevent form submission
            return false;
          }
        } else {
          // There are blank fields, do not proceed and prevent form submission
          return false;
        }
      }

      
      // JavaScript for image preview and remove functionality
      document.addEventListener("DOMContentLoaded", function() {
            const pictureInput = document.getElementById("profile_picture");
            const imagePreview = document.getElementById("image-preview");
            const removeImageButton = document.getElementById("remove-image");
    
            function updatePreview() {
                const file = pictureInput.files[0];
                if (file) {
                    const reader = new FileReader();
                    reader.onload = function(event) {
                        const image = new Image();
                        image.src = event.target.result;
                        image.width = 200;
                        imagePreview.innerHTML = '';
                        imagePreview.appendChild(image);
                        removeImageButton.style.display = "inline-block";
                    };
                    reader.readAsDataURL(file);
                } else {
                    imagePreview.innerHTML = '';
                    removeImageButton.style.display = "none";
                }
            }
    
            pictureInput.addEventListener("change", updatePreview);
    
            removeImageButton.addEventListener("click", function() {
                event.preventDefault();
                pictureInput.value = null;
                imagePreview.innerHTML = '';
                removeImageButton.style.display = "none";
            });
        });
    </script>
</body>

<div class="modal fade" id="cancelWarningModal" tabindex="-1" aria-labelledby="cancelWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cancelWarningModalLabel">Warning</h5>
          </div>
          <div class="modal-body">
            Exit form? Any changes you have made may not be saved.
          </div>
          <div class="modal-footer">
            <div class="col">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Back</button>
            </div>
            <button type="button" class="btn btn-danger" onclick="cancelForm()">Exit Anyways</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}