<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">

{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Add Purchase Order</h4>
            </div>
        </div>

        
        <form method="POST" action="{% url 'add_po' %}">
            <!-- First Tab: Customer Information -->
            <div id="step1">
            
                {% csrf_token %}
                <fieldset>
                    <legend>Customer Information</legend>

                    <!-- Rows for Customer Information -->
                    <!-- Row 1: Requested Date and Type of Customer -->
                    <div class="row">
                        <div class="col">
                            <label for="requested_date">Requested Date:</label><br>
                            <input type="date" id="requested_date" name="requested_date" class="form-control rounded-10 border-0"><br><br>
                        </div>
                        <div class="col">
                            <label for="customer_type">Type of Customer:</label><br>
                            <select id="customer_type" name="customer_type" class="form-select rounded-10 border-0" onchange="toggleFields()">
                                <option value="" selected disabled>Select Type</option>
                                <option value="Consignee">Consignee</option>
                                <option value="Direct">Direct</option>
                            </select><br><br>
                        </div>
                    </div>
                    
                    <!-- Row 2: Customer Name, Shipping Method, and Order Method  -->
                    <div class="row">
                        <div class="col">
                            <label for="customer_name">Customer Name:</label><br>
                            <input type="text" id="customer_name" name="customer_name" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="shipping_method">Shipping Method:</label><br>
                            <select id="shipping_method" name="shipping_method" class="form-select rounded-10 border-0" disabled>
                                <option value="" selected disabled>Select Shipping Method</option>
                                <option value="grab">Grab</option>
                                <option value="lalamove">Lalamove</option>
                                <option value="direct_delivery">Direct Delivery</option>
                                <option value="lazada">Lazada</option>
                                <option value="shopee">Shopee</option>
                            </select><br><br>
                        </div>
                        <div class="col">
                            <label for="order_method">Order Method:</label><br>
                            <select id="order_method" name="order_method" class="form-select rounded-10 border-0" disabled>
                                <option value="" selected disabled>Select Order Method</option>
                                <option value="walk_in">Walk-in</option>
                                <option value="lazada">Lazada</option>
                                <option value="shopee">Shopee</option>
                            </select><br><br>
                        </div>
                    </div>
                    
                    <!-- Row 3: Primary Contact Info, Email Address, and Emergency Contact Info -->
                    <div class="row">
                        <div class="col">
                            <label for="primary_contact">Primary Contact Info:</label><br>
                            <input type="tel" id="primary_contact" name="primary_contact" class="form-control rounded-10 border-0" maxlength="11" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="email_address">Email Address:</label><br>
                            <input type="email" id="email_address" name="email_address" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="emergency_contact">Emergency Contact Info:</label><br>
                            <input type="tel" id="emergency_contact" name="emergency_contact" class="form-control rounded-10 border-0" maxlength="11" disabled><br><br>
                        </div>
                    </div>
                    
                    <!-- Row 4: Address Line 1, Province, Municipality, Barangay, and Zip Code -->
                    <div class="row">
                        <div class="col">
                            <label for="address_line1">Address Line 1:</label><br>
                            <input type="text" id="address_line1" name="address_line1" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="province">Province:</label><br>
                            <input type="text" id="province" name="province" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="municipality">Municipality:</label><br>
                            <input type="text" id="municipality" name="municipality" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="barangay">Barangay:</label><br>
                            <input type="text" id="barangay" name="barangay" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                        <div class="col">
                            <label for="zip_code">Zip Code:</label><br>
                            <input type="text" id="zip_code" name="zip_code" class="form-control rounded-10 border-0" disabled><br><br>
                        </div>
                    </div>
                    
                    <!-- Row 5: Notes -->
                    <div class="row">
                        <div class="col">
                            <label for="notes">Customer Notes:</label><br>
                            <textarea id="c_notes" name="c_notes" rows="4" cols="50" class="form-control rounded-10 border-0" disabled></textarea><br><br>
                        </div>
                    </div>

                    <!-- Buttons for navigation -->
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'current_pos' %}" class="btn btn-danger">Cancel</a>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-success" onclick="nextStep()">Next</button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Second Tab: Product Selection -->
            <div id="step2" style="display: none;">
                <div class="container-fluid">
                    <legend>Products Selection</legend>

                    <!-- Buttons: back and cancel -->
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <!-- Left column for Products Ordered -->
                            <div class="col-md-6" style="padding-right: 2%;">
                                <h5>Products Ordered:</h5>
                                <div class="container mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center">
                                            <thead class="border-bottom border-dark">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>ID</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="product-list">
                                                <!-- Products will be appended here as rows -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- Right column for Product List -->
                            <div class="col-md-6" style="border-left: 2px solid gray; padding-left: 2%;">
                                <div class="row mb-3">
                                    <h5>List of Products:</h5>
                                    <div class="input-group mb-4 mr-3">
                                        <input type="text" class="form-control" id="search-input" placeholder="Search products..." aria-label="Search products" aria-describedby="search-button">
                                    </div>
                                </div>
                                <div class="row mx-4" id="product-list">
                                    {% for p in products %}
                                        <div class="row mb-5 product-item" data-id="{{ p.EAS_Product_ID }}"> 
                                            <!-- Product information -->
                                            <div class="col">
                                                {% if p.Picture %}
                                                    <!-- Image -->
                                                    <img src="{{ p.Picture.url }}" width="120" class="mr-3">
                                                {% endif %}
                                            </div>

                                            <div class="col">
                                                <!-- Product details -->
                                                <h5>{{ p.Name }}</h5>
                                                <p>ID: {{ p.EAS_Product_ID }}</p>
                                                <p class="product-price">Php {{ p.Price }}</p>
                                            </div>

                                            <div class="col">
                                                <!-- Add to Cart button -->
                                                <button type="button" class="btn btn-primary add-to-cart" data-name="{{ p.Name }}">Add to Cart</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        // "Add to Cart" 
        var addToCartButtons = document.querySelectorAll('.add-to-cart');
        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var productName = button.getAttribute('data-name');
                var productId = button.parentNode.parentNode.dataset.id;
                var productPrice = button.closest('.product-item').querySelector('.product-price').textContent.trim();
                addToCart(productName, productId, productPrice);
            });
        });
        
        // add a product to the cart
        function addToCart(productName, productId, productPrice) {
            // get the table body where products will be appended
            var productList = document.getElementById("product-list");
            
            // create a new row for the product
            var newRow = document.createElement("tr");
            
            // populate the row with product information
            newRow.innerHTML = `
                <td>${productName}</td>
                <td>${productId}</td>
                <td>${productPrice}</td>
                <td><input type="number" class="form-control text-center" style="width: 100px;" value="1"></td>
                <td><button type="button" class="btn btn-danger" onclick="removeFromCart(this)">Remove</button></td>
            `;
            
            // append the new row to the table body
            productList.appendChild(newRow);
            
            // hide the product in the right column list
            hideProduct(productId);
        }
    
        //  remove a product from the cart
        function removeFromCart(row) {
            // get the reference to the row and remove it
            var productId = row.parentNode.parentNode.children[1].textContent;
            row.parentNode.parentNode.remove();
            
            // unhide the product in the right column list
            unhideProduct(productId);
        }
    
        // hide a product in the right column list
        function hideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = 'none';
            }
        }
    
        // unhide a product in the right column list
        function unhideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = '';
            }
        }
    
        var currentStep = 1;
    
        function nextStep() {
            if (currentStep === 1) {
                document.getElementById('step1').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
                currentStep = 2;
            }
        }
    
        function prevStep() {
            if (currentStep === 2) {
                document.getElementById('step1').style.display = 'block';
                document.getElementById('step2').style.display = 'none';
                currentStep = 1;
            }
        }
    
        function toggleFields() {
            var customerType = document.getElementById("customer_type").value;
            var orderMethodField = document.getElementById("order_method");
            var emailField = document.getElementById("email_address");
            var emergencyContactField = document.getElementById("emergency_contact");
            var customerNameField = document.getElementById("customer_name");
            var shippingMethodField = document.getElementById("shipping_method");
            var primaryContactField = document.getElementById("primary_contact");
            var addressLine1Field = document.getElementById("address_line1");
            var provinceField = document.getElementById("province");
            var municipalityField = document.getElementById("municipality");
            var barangayField = document.getElementById("barangay");
            var zipCodeField = document.getElementById("zip_code");
            var notesField = document.getElementById("c_notes");
    
            if (customerType === "") {
                orderMethodField.disabled = true;
                emailField.disabled = true;
                emergencyContactField.disabled = true;
                customerNameField.disabled = true;
                shippingMethodField.disabled = true;
                primaryContactField.disabled = true;
                addressLine1Field.disabled = true;
                provinceField.disabled = true;
                municipalityField.disabled = true;
                barangayField.disabled = true;
                zipCodeField.disabled = true;
                notesField.disabled = true;
            } else {
                orderMethodField.disabled = false;
                emailField.disabled = false;
                emergencyContactField.disabled = false;
                customerNameField.disabled = false;
                shippingMethodField.disabled = false;
                primaryContactField.disabled = false;
                addressLine1Field.disabled = false;
                provinceField.disabled = false;
                municipalityField.disabled = false;
                barangayField.disabled = false;
                zipCodeField.disabled = false;
                notesField.disabled = false;
            }
    
            if (customerType === "Direct") {
                emailField.value = "";
                emailField.disabled = true;
                emergencyContactField.value = "";
                emergencyContactField.disabled = true;
            }
    
            if (customerType === "Consignee") {
                orderMethodField.selectedIndex = 0;
                orderMethodField.disabled = true;
            }
        }
    
        // call toggleFields() on page load
        window.onload = toggleFields;

        // search bar
        function filterProducts() {
            var searchInput = document.getElementById("search-input").value.toLowerCase();
            var productItems = document.querySelectorAll(".product-item");
            var productList = document.getElementById("product-list");

            productItems.forEach(function(item) {
                var productName = item.querySelector("h5").textContent.toLowerCase();
                var productId = item.dataset.id;

                // check if the product is not already added to the left column table
                if (!isProductAdded(productId)) {
                    // hide or show the product based on the search input
                    if (productName.includes(searchInput)) {
                        item.style.display = "";
                    } else {
                        item.style.display = "none";
                    }
                } else {
                    // hide the product if its already added to the left column table
                    item.style.display = "none";
                }
            });
        }

        // check if a product is already added to the left column table
        function isProductAdded(productId) {
            var productRows = document.querySelectorAll("#product-list tr");

            for (var i = 0; i < productRows.length; i++) {
                if (productRows[i].querySelectorAll("td")[1].textContent === productId) {
                    return true;
                }
            }
            return false;
        }

        // event listener for search input field
        document.getElementById("search-input").addEventListener("input", filterProducts);
    </script>
</body>
{% endblock %}