{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="px-2 navbar navbar-light" style="background-color: #C2C1C1;">
        <a class="navbar-brand" href="#">
            <div class="row row-cols-auto">
                <!-- EAS Logo -->
                <div class="col nopadding">
                    <img src="{% static 'images/EAS_logo.png' %}" width="75" height="75">
                </div>
                <div class="col p-0">
                    <!-- EAS Title -->
                    <span class="h3">Inventory System</span>
                    <div class="row">
                        <!-- Date & Time -->
                        <span id="datetime" class="h6"></span>
                        <script>
                        var dt = new Date();
                        document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
                        </script>
                    </div>
                </div>
            </div>
        </a>
        <!-- Screen Pages -->
        <div class="row row-cols-auto">

            <!-- Current Inventory button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_warehouse.png' %}" width="35" height="35"><br>
                    <span><h6 class="">Current Inventory</h6></span>
                </a>
            </div>
            <div class="vr pl-0"></div>

            <!-- Order Analytics button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_file-graph.png' %}" width="35" height="35"><br>
                    <span><h6>Order Analytics</h6></span>
                </a>
            </div>
            <div class="vr nopadding" style="width: 2px;"></div>

            <!-- Consignee Tags and Categories button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_consignee-tags.png' %}" width="35" height="35"><br>
                    <span><h6>Consignee Tags and Categories</h6></span>
                </a>
            </div>
            <div class="vr"></div>


            <!-- Customers button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_customers.png' %}" width="35" height="35"><br>
                    <span><h6>Customers</h6></span>
                </a>
            </div>
            <div class="vr"></div>

            <!-- PO button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_po.png' %}" width="35" height="35"><br>
                    <span><h6>Purchase Orders</h6></span>
                </a>
            </div>
            <div class="vr"></div>

            <!-- PRO button page -->
            <div class="col d-flex justify-content-center text-center">
                <a href="#">
                    <img src= "{% static 'images/icon_pro.png' %}" width="35" height="35"><br>
                    <span><h6>Product Requisitions</h6></span>
                </a>
            </div>
    </nav>
    <div class="row">
        <div class="container" style="margin-left: 50px; margin-bottom: 200px;"> 
            <div class="d-flex">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

