<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<body>
    <style>
        .required:after {
          content:" *";
          color: red;
        }

        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
      </style>
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Create Direct Customer</h4>
            </div>
        </div>
        {% if error_msg %}
            <div class="alert alert-danger" role="alert">
                {{ error_msg }}
            </div>
        {% endif %}
        <form id="createDirectCustomerForm" method="POST" action="{% url 'create_direct_customer' %}">
            {% csrf_token %}
            <legend>Direct Customer Information</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="required" for="id_customer_name" class="form-label custom-text">Customer Name:</label>
                        <input type="text" name="customer_name" class="form-control" maxlength="32" required id="id_customer_name" placeholder="Customer Name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="required" for="id_primary_contact_number" class="form-label custom-text">Primary Contact Number:</label>
                        <input type="text" name="primary_contact_number" class="form-control" required id="id_primary_contact_number" placeholder="Primary Contact Number: 09xxxxxxxxx" pattern="09[0-9]{9}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8 || event.charCode == 0;">
                        <!-- <input type="number" name="primary_contact_number" class="form-control" required id="id_primary_contact_number" placeholder="Primary Contact Number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11"> -->
                    </div>                    
                </div>
                </div>
            <div class="mb-3">
                <label class="required" for="id_address_line1" class="form-label custom-text">Address Line 1:</label>
                <input type="text" name="address_line1" class="form-control" maxlength="128" required id="id_address_line1" placeholder="Address Line 1">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="required" for="id_province" class="form-label custom-text">Province:</label>
                        <input type="text" name="province" class="form-control" maxlength="64" required id="id_province" placeholder="Province">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="required" for="id_municipality" class="form-label custom-text">Municipality:</label>
                        <input type="text" name="municipality" class="form-control" maxlength="64" required id="id_municipality" placeholder="Municipality">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="required" for="id_barangay" class="form-label custom-text">Barangay:</label>
                        <input type="text" name="barangay" class="form-control" maxlength="64" required id="id_barangay" placeholder="Barangay">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="required" for="id_zip_code" class="form-label custom-text">Zip Code:</label>
                        <input type="text" name="zip_code" class="form-control" required id="id_zip_code" placeholder="Zip Code" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="4">
                        <!-- <input type="number" name="zip_code" class="form-control" required minlength="4" id="id_zip_code" placeholder="Zip Code" oninput="javascript: if (this.value.length > 4) this.value = this.value.slice(0, 4);"> -->
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_notes" class="form-label custom-text">Notes:</label>
                <textarea name="notes" class="form-control" id="id_notes" rows="3" placeholder="Notes" oninput="if(this.value.length > 1024) this.value = this.value.substring(0, 1024);" maxlength="1024"></textarea>
                <!-- <textarea name="notes" class="form-control" id="id_notes" rows="3" placeholder="Notes"></textarea> -->
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel</button>
                </div>
                <div class="col text-end">
                    <button type="button" class="btn btn-primary" id="createCustomerBtn" data-bs-toggle="modal" data-bs-target="#confirmationModal" disabled>Create Customer</button>
                </div>
            </div>
            <!-- <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createCustomerBtn" data-bs-toggle="modal" data-bs-target="#confirmationModal" disabled>Create Customer</button>
            </div> -->
        </form>
    </div>
    
    <!-- Cancel Modal -->
    <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Warning</h5>
                </div>
                <div class="modal-body">
                    Exit form? Any changes you have made may not be saved.
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    </div>
                    <a href="{% url 'current_customers' %}" class="btn btn-danger">Exit Anyways</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to create this new Direct Customer?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmCreateBtn">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    
    <script>
        // Function to check if all required fields are filled
        function checkRequiredFields() {
            var customerName = document.getElementById('id_customer_name').value.trim();
            var primaryContactNumber = document.getElementById('id_primary_contact_number').value.trim();
            var addressLine1 = document.getElementById('id_address_line1').value.trim();
            var province = document.getElementById('id_province').value.trim();
            var municipality = document.getElementById('id_municipality').value.trim();
            var barangay = document.getElementById('id_barangay').value.trim();
            var zipCode = document.getElementById('id_zip_code').value.trim();
            
            return customerName !== '' && primaryContactNumber !== '' && addressLine1 !== '' &&
                province !== '' && municipality !== '' && barangay !== '' && zipCode !== '';
        }

        // Function to enable/disable the Create Customer button based on required fields
        function toggleCreateButton() {
            var createButton = document.getElementById('createCustomerBtn');
            createButton.disabled = !checkRequiredFields();
        }

        // Event listener for input fields to check validation on change
        var inputFields = document.querySelectorAll('input, textarea, select');
        inputFields.forEach(function(field) {
            field.addEventListener('input', function() {
                toggleCreateButton();
            });
        });

        // Handle click event on "Yes" button in confirmation modal
        document.getElementById('confirmCreateBtn').addEventListener('click', function() {
            document.getElementById('createDirectCustomerForm').submit(); // Submit the form
        });
    </script>

</body>
{% endblock %}

