<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Direct Customer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/add_product.css">
</head>
<body>
    {% extends 'inventoryapp/base.html' %}
    {% load static %}

    {% block content %}
    <div class="container">
        <h1 class="mt-4 mb-4">Create Consignee</h1>
        <form method="POST" action="{% url 'create_consignee' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_consignee_name" class="form-label custom-text">Consignee Name:</label>
                <input type="text" name="consignee_name" class="form-control" maxlength="32" required id="id_consignee_name" placeholder="Consignee Name">
            </div>
            <div class="mb-3">
                <label for="id_address_line_1" class="form-label custom-text">Address Line 1:</label>
                <input type="text" name="address_line_1" class="form-control" maxlength="128" required id="id_address_line_1" placeholder="Address Line 1">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_province" class="form-label custom-text">Province:</label>
                        <input type="text" name="province" class="form-control" maxlength="64" required id="id_province" placeholder="Province">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_municipality" class="form-label custom-text">Municipality:</label>
                        <input type="text" name="municipality" class="form-control" maxlength="64" required id="id_municipality" placeholder="Municipality">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_barangay" class="form-label custom-text">Barangay:</label>
                        <input type="text" name="barangay" class="form-control" maxlength="64" required id="id_barangay" placeholder="Barangay">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_zip_code" class="form-label custom-text">Zip Code:</label>
                <input type="text" name="zip_code" class="form-control" maxlength="4" required id="id_zip_code" placeholder="Zip Code">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_primary_contact_number" class="form-label custom-text">Primary Contact Number:</label>
                        <input type="text" name="primary_contact_number" class="form-control" maxlength="11" required id="id_primary_contact_number" placeholder="Primary Contact Number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_email_address" class="form-label custom-text">Email Address:</label>
                        <input type="email" name="email_address" class="form-control" maxlength="128" required id="id_email_address" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="id_emergency_contact_number" class="form-label custom-text">Emergency Contact Number:</label>
                        <input type="text" name="emergency_contact_number" class="form-control" maxlength="11" required id="id_emergency_contact_number" placeholder="Emergency Contact Number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="id_consignment_period_start" class="form-label custom-text">Consignment Period Start:</label>
                        <input type="date" name="consignment_period_start" class="form-control" required id="id_consignment_period_start">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="id_consignment_period_end" class="form-label custom-text">Consignment Period End:</label>
                        <input type="date" name="consignment_period_end" class="form-control" required id="id_consignment_period_end">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_tag_hex_color_id" class="form-label custom-text">Tag Hex Color ID:</label>
                <input type="text" name="tag_hex_color_id" class="form-control" maxlength="7" required id="id_tag_hex_color_id" placeholder="Tag Hex Color ID">
            </div>
            <div class="mb-3">
                <label for="id_notes" class="form-label custom-text">Notes:</label>
                <textarea name="notes" class="form-control" id="id_notes" rows="3" placeholder="Notes"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Consignee</button>
        </form>
    </div>
    
    
    {% endblock %}
</body>
</html>

