<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<body>

    <div class="container">
        <h1 class="mt-4 mb-4">Create Direct Customer</h1>
        {% if error_msg %}
            <div class="alert alert-danger" role="alert">
                {{ error_msg }}
            </div>
        {% endif %}
        <form method="POST" action="{% url 'create_direct_customer' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_customer_name" class="form-label custom-text">Customer Name:</label>
                <input type="text" name="customer_name" class="form-control" maxlength="64" required id="id_customer_name" placeholder="Customer Name">
            </div>
            <div class="mb-3">
                <label for="id_primary_contact_number" class="form-label custom-text">Primary Contact Number:</label>
                <input type="text" name="primary_contact_number" class="form-control" maxlength="11" required id="id_primary_contact_number" placeholder="Primary Contact Number">
            </div>
            <div class="mb-3">
                <label for="id_address_line1" class="form-label custom-text">Address Line 1:</label>
                <input type="text" name="address_line1" class="form-control" maxlength="255" required id="id_address_line1" placeholder="Address Line 1">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_province" class="form-label custom-text">Province:</label>
                        <input type="text" name="province" class="form-control" maxlength="100" required id="id_province" placeholder="Province">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_municipality" class="form-label custom-text">Municipality:</label>
                        <input type="text" name="municipality" class="form-control" maxlength="100" required id="id_municipality" placeholder="Municipality">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_barangay" class="form-label custom-text">Barangay:</label>
                        <input type="text" name="barangay" class="form-control" maxlength="100" required id="id_barangay" placeholder="Barangay">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_zip_code" class="form-label custom-text">Zip Code:</label>
                        <input type="text" name="zip_code" class="form-control" maxlength="10" required id="id_zip_code" placeholder="Zip Code">
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_notes" class="form-label custom-text">Notes:</label>
                <textarea name="notes" class="form-control" id="id_notes" rows="3" placeholder="Notes"></textarea>
            </div>
            <div class="col">
                <a href="{% url 'current_customers' %}" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary">Create Customer</button>
            </div>

        </form>
    </div>
    
    {% endblock %}
</body>
