{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}

<head>

    <title>Current Inventory</title>
  </head>

<body class="bg-light">
  <div class="container">
    <h1>Products</h1>
    <div>
      <a href="{% url 'add_product' %}" class="btn btn-danger">Add Product</a>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">ID</th>
            <th scope="col">Picture</th>
            <th scope="col">Actual Count</th>
            <th scope="col">Reserved</th>
            <th scope="col">To Be Received</th>
            <th scope="col">Categories</th>
            <th scope="col">Consignee</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          {% for p in products %}
            <tr>  
              <td class = "iname">{{p.Name}}</td>
              <td class = "iid">{{p.EAS_Product_ID}}</td>    
              <td class = "ipicture">         
                {% if p.Picture %}
                  <img src="{{ p.Picture.url }}" width="50">
                {% endif %}
              </td> 
              <td class = "iact_inv_cnt">{{p.Actual_Inventory_Count}}</td>
              <td class = "irsrvd_cnt">{{p.Reserved_Inventory_Count}}</td>
              <td class = "ito_be_rcvd_cnt">{{p.To_Be_Received_Inventory_Count}}</td>    
              <td class = "icategories">{{p.Category}}</td>    
              <td class = "iconsignee">
                {% for c in consignee_products %}
                  {% if c.Product_ID.Product_ID == p.Product_ID %}
                    {{ c.Consignee_ID.Consignee_Tag_ID }}
                  {% endif %}
                {% endfor %}
              </td>  
              <td> 
                <a href="{% url 'view_product' pk=p.Product_ID %}" type="button" class="btn btn-primary">View</button>
              </td>             
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

              <!-- <div class="justify-content-center">
                <button type="submit" class="btn btn-info" id="cls">Add Item</button>
              </div> -->
      <a href="{% url 'account_login' %}" type="button" class="btn btn-primary">Log Out</button>
  </body>

{% endblock %}