{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Employee Accounts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css">
</head>

<body class="bg-light">
    <div class="container-fluid">
        <!-- Header -->
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Edit Inventory Count </h4>
            </div>
        </div>

        <form method="POST" action="#">
            <!-- First Tab: Choose products  -->
            <div id="step1">
                {% csrf_token %}
                <div class="row m-2">
                    <div class="col d-flex align-items-center">
                        <legend>Choose a Product to update its stock</legend>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <a href="{% url 'inventory_update_history' %}" class="btn btn-primary">View Update History</a>
                    </div>
                </div>
                <fieldset>
                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <!-- Left column for Products Chosen -->
                            <div class="col-md-6" style="padding-right: 2%; overflow-y: auto; height: 630px;">
                                <h5>Products Chosen:</h5>
                                <div class="container mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center" id="PO_products">
                                            <thead class="border-bottom border-dark">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>ID</th>
                                                    <th>Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody id="product-list">
                                                <!-- Products will be appended here as rows -->
                                            </tbody>
                                        </table>
                                        <input type="hidden" name="all_products" id="all_products" value="">
                                        <input type="hidden" name="account" id="account" value="{{ request.user.account.pk }}">
                                    </div>
                                </div>
                            </div>

                            <!-- Right column for Product List -->
                            <div class="col-md-6" style="border-left: 2px solid gray; padding-left: 2%;">
                                <div class="row mb-3">
                                    <h5>List of Products:</h5>
                                    <div class="input-group mb-4 mr-3">
                                        <input type="text" class="form-control" id="search-input"
                                            placeholder="Search products..." aria-label="Search products"
                                            aria-describedby="search-button">
                                    </div>
                                </div>
                                <div class="row mx-4" id="product-list" style="overflow-y: auto; height: 520px;">
                                    {% for p in products %}
                                    <div class="row mb-5 product-item" data-id="{{ p.EAS_Product_ID }}">
                                        <!-- Product information -->
                                        <div class="col">
                                            {% if p.Picture %}
                                            <!-- Image -->
                                            <img src="{{ p.Picture.url }}" width="120" class="mr-3">
                                            {% endif %}
                                        </div>

                                        <div class="col">
                                            <!-- Product details -->
                                            <h5>{{ p.Name }}</h5>
                                            <p>ID: {{ p.EAS_Product_ID }}</p>
                                            <p><strong>Stock: </strong><span class="product_count">{{ p.Actual_Inventory_Count }}</span></p>
                                            <input type="hidden" class="product_pk" value="{{ p.Product_ID }}">
                                        </div>

                                        <div class="col">
                                            <!-- Add to Cart button -->
                                            <button type="button" class="btn btn-primary add-to-cart" data-name="{{ p.Name }}">Add to Cart</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Buttons for navigation -->
                    <div class="row mb-3">
                        <div class="col">
                            <a href="#" class="btn btn-danger" onclick="showCancelWarningModal()">Cancel</a>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-success" onclick="nextStep()">Next</button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <!-- Second Tab: Chosen Product Stock Inventory Update -->
            <div id="step2" style="display: none;">
                <div class="container-fluid">

                    <!-- Cards for selected products -->
                    <legend>Products Selected:</legend><br>
                    <div class="row row-cols-1 row-cols-md-1 g-4" id="selected-products-cards">
                        <!-- Selected products cards will be dynamically filled here -->
                    </div>

                    <!-- Buttons: back and cancel -->
                    <div class="row mt-2">
                        <div class="row m-3">
                            <div class="col-md-6">
                                <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="submit" class="btn btn-success" id="submit_po" onclick="return confirm('Are you sure you want to update the quantity of the selected product/s?')">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script>
        // Function to filter products as user types in the search bar
        document.getElementById("search-input").addEventListener("input", function () {
            var searchValue = this.value.trim().toLowerCase();
            var productItems = document.querySelectorAll(".product-item");
            var addedProductIds = getAddedProductIds(); // Get product IDs already added to the left column
            productItems.forEach(function (item) {
                var productId = item.dataset.id; // Get the product ID from dataset
                var productName = item.querySelector("h5").textContent.trim().toLowerCase();
                if (!addedProductIds.includes(productId) && productName.includes(searchValue)) {
                    item.style.display = ""; // Show the product item if not already added and matches search
                } else {
                    item.style.display = "none"; // Hide the product item otherwise
                }
            });
        });

        // Function to retrieve product IDs already added to the left column
        function getAddedProductIds() {
            var addedProductIds = [];
            var productListRows = document.querySelectorAll("#PO_products tbody tr");
            productListRows.forEach(function (row) {
                var productId = row.cells[1].textContent.trim(); // Get product ID from the table cell
                addedProductIds.push(productId);
            });
            return addedProductIds;
        }


        function nextStep() {
            document.getElementById('step1').style.display = 'none';
            document.getElementById('step2').style.display = 'block';
            populateSelectedProductsCards(); // Populate selected products cards on the second page
        }

        function prevStep() {
            document.getElementById('step2').style.display = 'none';
            document.getElementById('step1').style.display = 'block';
        }

        // Function to retrieve selected product IDs from the form submission
        function getSelectedProductIds() {
            var selectedProductIds = [];
            var selectedProducts = document.querySelectorAll("#product-list tr");
            selectedProducts.forEach(function(product) {
                var productId = product.cells[1].textContent.trim();
                selectedProductIds.push(productId);
            });
            return selectedProductIds;
        }


        // Add to Cart
        var addToCartButtons = document.querySelectorAll('.add-to-cart');
        addToCartButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var productName = button.getAttribute('data-name');
                var productId = button.parentNode.parentNode.dataset.id;
                var productPK = button.closest('.product-item').querySelector('.product_pk').value;
                var productCount = button.closest('.product-item').querySelector('.product_count').textContent.trim();
                addToCart(productName, productId, productPK, productCount);
            });
        });

        // add a product to the cart
        function addToCart(productName, productId, productPK, productCount) {
            // get the table body where products will be appended
            var productList = document.getElementById("product-list");

            // create a new row for the product
            var newRow = document.createElement("tr");

            // populate the row with product information
            newRow.innerHTML = `
                <td>${productName}</td>
                <td>${productId}</td>
                <td>${productCount}</td> 
                <input type="hidden" class="product_pk" value=${productPK}>
                <td><button type="button" class="btn btn-danger" onclick="removeFromCart(this)">Remove</button></td>
            `;

            // append the new row to the table body
            productList.appendChild(newRow);

            // hide the product in the right column list
            hideProduct(productId);
        }

        // remove a product from the cart
        function removeFromCart(row) {

            // Remove the product from the DOM
            row.parentNode.parentNode.remove();

            // Get the product ID of the removed product
            var productId = row.parentNode.parentNode.cells[1].textContent.trim();

            // Unhide the product in the right column list
            unhideProduct(productId);
        }

        // hide a product in the right column list
        function hideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = 'none';
            }
        }

        // unhide a product in the right column list
        function unhideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = '';
            }
        }


        // Function to populate selected products cards on the second page
        function populateSelectedProductsCards() {
            var selectedProductIds = getSelectedProductIds();

            var selectedProductsCards = document.getElementById('selected-products-cards');
            selectedProductsCards.innerHTML = ''; // Clear contents

            var selectedProducts = document.querySelectorAll("#product-list tr"); // Corrected this line

            selectedProducts.forEach(function(product) {
                var productName = product.cells[0].textContent.trim();
                var productId = product.cells[1].textContent.trim();
                var actualCount = product.cells[2].textContent.trim();

                // Create card element
                var card = document.createElement('div');
                card.classList.add('col');
                card.innerHTML = `
                    <div class="card border-dark mb-3">
                        <div class="card-body" style="border">
                            <h5 class="card-title">${productName}</h5>
                            <p class="card-text">ID: ${productId}</p>
                            <div class="row">
                                <div class="col">
                                    <label><strong>Actual Count:</strong></label>
                                    <p>${actualCount}</p>
                                </div>
                                <div class="col">
                                    <label><strong>Reserved:</strong></label>
                                    <p>0</p>
                                </div>
                                <div class="col">
                                    <label><strong>To be Received:</strong></label>
                                    <p>0</p>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="updated-count-${productId}"><strong>Updated Count:</strong></label>
                                    <input type="number" class="form-control" id="updated-count-${productId}" name="updated_count_${productId}" required>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                            <div class="mb-3">
                                <label for="report-${productId}" class="form-label"><strong>Report:</strong></label>
                                <input type="text" class="form-control" id="report-${productId}" name="report_${productId}" required>
                            </div>
                            <div class="mb-3">
                                <label for="image-${productId}" class="form-label"><strong>Upload Image</strong></label>
                                <input type="file" class="form-control" id="image-${productId}" name="image_${productId}">
                            </div>
                        </div>
                    </div>
                `;
                selectedProductsCards.appendChild(card);
            });
        }

        // Call the function to populate selected products cards on page load
        window.onload = populateSelectedProductsCards;




        // Function to display the cancel warning modal
        function showCancelWarningModal() {
            var myModal = new bootstrap.Modal(document.getElementById('cancelWarningModal'));
            myModal.show();
        }

        // Function to direct back to current inventoRY
        function cancelForm() {
            window.location.href = "{% url 'current_inventory' %}";
        }
        
    </script>
</body>

<div class="modal fade" id="cancelWarningModal" tabindex="-1" aria-labelledby="cancelWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelWarningModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You will lose any progress made. Confirm to exit form?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="cancelForm()">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}