<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css">
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Partially Fulfilled Orders History</title>
</head>

<body class="bg-light">
<div class="container-fluid">

    <div class="row p-1" style="background-color: #eee;">
        <div class="col-md-auto d-flex align-items-center">
            <h4 class="m-0 mr-3">Partially Fulfilled Orders History</h4>
        </div>
    </div>
    <div class="row mt-3">
        <!-- Buttons column -->
        <div class="col-md-auto">
          <a href="{% url 'current_pros' %}" class="btn btn-primary">Back</a>
        </div>
      </div>
    {% if error_msg %}
    <div class="alert alert-danger" role="alert">
        {{ error_msg }}
    </div>
    {% endif %}
    <!-- Table Partially Fulfilled Orders row -->
    <div class="row mt-3">
        <div class="table-responsive">
            <table id="partiallyFulfilledOrders" class="table text-center">
                <thead>
                <tr>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Edit ID</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Date Updated</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">PRO No.</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Product</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Initial PRO Quantity</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Partially Fulfilled Quantity</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Image Report</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Text Report</th>
                    <th scope="col" style="background-color: #C2C1C1; text-align: center;">Submitted by</th>
                </tr>
                </thead>
                <tbody>
                {% for item in partially_fulfilled_history %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Partially_Fulfill_Edit_ID }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Date_Updated }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Stock.Product_Requisition_ID.Product_Requisition_ID }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Stock.Product_ID.Product_ID }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Stock.Quantity }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Partially_Fulfilled_Quantity }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        {% if item.Image_Report %}
                            <img src="{{ item.Image_Report.url }}"  alt="Image Report" style="max-width: 50px; max-height: 50px;">
                        {% endif %}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Text_Report }}</td>
                    <td style="text-align: center; vertical-align: middle;">{{ item.Account_ID }}</td>
                    <td>
                        <!-- Add actions here if needed -->
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>
</body>
{% endblock %}
