<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel ="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Purchase Order History</title>
</head>

<body class="bg-light">
  <div class="container-fluid">

    <div class="row p-1" style="background-color: #eee;">
      <div class="col-md-auto d-flex align-items-center">
        <h4 class="m-0 mr-3">Closed Requisition Orders</h4>
      </div>
    </div>
    {% if error_msg %}
    <div class="alert alert-danger" role="alert">
        {{ error_msg }}
    </div>
    {% endif %}
    <!-- Buttons row -->
    <div class="row mt-3">
      <!-- Buttons column -->
      <div class="col-md-auto">
        <a href="{% url 'current_pros' %}" class="btn btn-primary">Back</a>
      </div>
    </div>

    <!-- Table Inventory row -->
    <div class="row mt-3">
      <div class="table-responsive">
        <table id="currentpro" class="table text-center">
          <thead>
            <tr>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Requisition Order No.</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Creation Date</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Received Date</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Manufacturer Name</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Total Cost</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Closed By</th>
              <th scope="col" style="background-color: #C2C1C1;">Action</th>
              <!-- <th scope="col" style="background-color: #C2C1C1; text-align: center;">Closed by</th> -->
            </tr>
          </thead>
          <tbody>
            {% for pro in requisition_orders %}
              {% if pro.PRO_Status == "Closed" or pro.PRO_Status == "Cancelled" %}
                <tr>  
                  <td class="iname" style="text-align: center;">{{pro.Product_Requisition_ID}}</td>
                  <td class="iid" style="text-align: center;">{{pro.Creation_Date}}</td>
                  <td class="iid" style="text-align: center;">{{pro.Received_Date}}</td>
                  <td class="iid" style="text-align: center;">{{pro.PRO_Manufacturer}}</td>
                  <td class="iid" style="text-align: center;">{{pro.Total_Cost}}</td>
                  <td class="iid" style="text-align: center;">{{pro.Account_ID_Closed_by}}</td>
                  <td> 
                    <a href="{% url 'view_pro' pk=pro.pk %}" type="button" class="btn btn-primary">View</a>
                  </td>             
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>

</body>
{% endblock %}