<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel ="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.bootstrap5.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Purchase Order History</title>
</head>

<body class="bg-light">
  <div class="container-fluid">

    <div class="row p-1" style="background-color: #eee;">
      <div class="col-md-auto d-flex align-items-center">
        <h4 class="m-0 mr-3">Closed Purchase Orders</h4>
      </div>
    </div>
    {% if error_msg %}
    <div class="alert alert-danger" role="alert">
        {{ error_msg }}
    </div>
    {% endif %}
    <!-- Buttons row -->
    <div class="row mt-3">
      <!-- Buttons column -->
      <div class="col-md-auto">
        <a href="{% url 'current_pos' %}" class="btn btn-primary">Back</a>
      </div>
    </div>

    <!-- Table Inventory row -->
    <div class="row mt-3">
      <div class="table-responsive">
        <table id="currentpo" class="table text-center">
          <thead>
            <tr>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Purchase Order No.</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Creation Date</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Fulfillment Date</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Type of Customer</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Purchaser Name</th>
              <th scope="col" style="background-color: #C2C1C1; text-align: center;">Closed By</th>
              <th scope="col" style="background-color: #C2C1C1;"></th>
              <!-- <th scope="col" style="background-color: #C2C1C1; text-align: center;">Closed by</th> -->
            </tr>
          </thead>
          <tbody>
            {% for po in purchase_orders %}
              {% if po.PO_Status == "Closed" or po.PO_Status == "Cancelled" %}
                <tr>  
                  <td class="iname" style="text-align: center;">{{po.Purchase_Order_ID}}</td>
                  <td class="iid" style="text-align: center;">{{po.Creation_Date}}</td>
                  <td class="iid" style="text-align: center;">{{po.Fulfilled_Date}}</td>

                  {% if po.Customer_ID %}
                    <td class="iact_inv_cnt" style="text-align: center;">{{po.Customer_ID.Customer_Type}}</td>
                    <td class="iact_inv_cnt" style="text-align: center;">{{po.Customer_ID.Customer_Name}}</td>
                  {% elif po.Consignee_ID %}
                    <td class="iact_inv_cnt" style="text-align: center;">{{po.Consignee_ID.Customer_Type}}</td>
                    <td class="iact_inv_cnt" style="text-align: center;">{{po.Consignee_ID.Consignee_Name}}</td>
                  {% endif %}
                  <td class="iid" style="text-align: center;">{{po.Account_ID_Closed_by}}</td>
                  <!-- <td class="iact_inv_cnt" style="text-align: center;">
                    <select class="PO_progress_dropdown" name="PO_progress_dropdown" data-PO-pk="{{ po.Purchase_Order_ID }}" onchange="updateProgress(this)">
                      <option value="Pending" {% if po.Progress == "Pending" %}selected{% endif %}>Pending</option>
                      <option value="Ongoing" {% if po.Progress == "Ongoing" %}selected{% endif %}>Ongoing</option>
                      <option value="Shipped" {% if po.Progress == "Shipped" %}selected{% endif %}>Shipped</option>
                    </select>
                  </td>
                  <td> 
                      <a href="#" type="button" class="btn btn-danger">Delete</a>
                    </td>      -->
                  <td> 
                    <a href="{% url 'view_po_history' pk=po.pk %}" type="button" class="btn btn-primary">View</a>
                  </td>             
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>
  <script>
$(document).ready(function() {
    $('#currentpo').DataTable({
      "columnDefs": [
        { "targets": -1, "orderable": false, "searchable": false }
      ]
    });
  });
  </script>
</body>
{% endblock %}