{% load static %}
<link rel="stylesheet" href="static/login.css">
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <div class="full-screen-container my-3">
            <img src= "{% static 'images/EAS_logo_red.jpg' %}" width="150" height="150">
        </div>

        <div class="full-screen-container">
            <div class="login-container">
                <h2 class="login-title">Sign in</h2>
                      
                <form method=POST action="{% url 'account_login' %}">{% csrf_token %}
                    <div class="input-group success">
                        <label for="user_name">Your username</label>
                        <input type="text" class="form-control" id="user_name" name="user_name" required>
                    </div>
                        
                    <div class="input-group error">
                        <label for="password">Your password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    
                    {% if error_msg %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_msg }}
                        </div>
                    {% endif %}
                    
                    <div class="login-button-container">
                        <button type="submit" class="login-button">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>