<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}

</head>
<body class="bg-light" style="background-color: #eee;">
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Update Product Requisition Order</h4>
            </div>
        </div>

        <div class="row">
            <form method="POST" action="{% url 'update_pro' requisition_order.pk %}">
                {% csrf_token %}
                <main>
                    <div id="step1">
                        <fieldset>
                            <legend>PRO Information</legend>
                            
                            <!-- Row 1: Estimated Receiving Date, Manufacturer, Total Cost -->
                            <div class="row">
                                <div class="col">
                                    <label for="estimated_receiving_date">Estimated Receiving Date:</label><br>
                                    <input type="date" id="estimated_receiving_date" name="estimated_receiving_date" class="form-control rounded-10" value="{{ requisition_order.estimated_receiving_date }}"><br><br>
                                </div>
                                <div class="col">
                                    <label for="manufacturer_name">Manufacturer:</label><br>
                                    <input type="text" id="manufacturer_name" name="manufacturer_name" class="form-control rounded-10" value="{{ requisition_order.PRO_Manufacturer }}"><br><br>
                                </div>
                                <div class="col">
                                    <label for="total_cost">Total Cost:</label><br>
                                    <div class="input-group">
                                        <span class="input-group-text">PHP</span>
                                        <input type="number" id="total_cost" name="total_cost" step=".01" min="0" max="99999.99" maxlength="9" class="form-control rounded-10" value="{{ requisition_order.Total_Cost }}"><br><br>
                                    </div>
                                </div>
                            </div>

                            <!-- Row 2: Notes -->
                            <div class="row">
                                <div class="col">
                                    <label for="pro_notes">PRO Notes:</label><br>
                                    <textarea id="pro_notes" name="pro_notes" rows="4" cols="50" class="form-control rounded-10">{{ requisition_order.Notes }}</textarea><br><br>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelWarningModal">Cancel</button>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-success" onclick="nextStep()">Next</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- Second Tab: Product Selection -->
            <div id="step2" style="display: none;">
                <div class="container-fluid">
                    <legend>Products Selection</legend>

                    <!-- Buttons: back and cancel -->
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-success" onclick="nextStep()">Next</button>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <!-- Left column for Products Ordered -->
                            <div class="col-md-6" style="padding-right: 2%;">
                                <h5>Products Ordered:</h5>
                                <div class="container mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center" id="PRO_products">
                                            <thead class="border-bottom border-dark">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>ID</th>
                                                    <th>Quantity</th>
                                                    <th>Stock</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="product-list">
                                                <!-- Products will be appended here as rows -->
                                            </tbody>
                                        </table>
                                        <input type="hidden" name="all_products" id="all_products" value="">  
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="border-left: 2px solid gray; padding-left: 2%;">
                                <div class="row mb-3">
                                    <h5>List of Products:</h5>
                                    <div class="input-group mb-4 mr-3">
                                        <input type="text" class="form-control" id="search-input" placeholder="Search products..." aria-label="Search products" aria-describedby="search-button">
                                    </div>
                                </div>
                                <div class="row mx-4" id="product-list-right">
                                    {% for p in products %}
                                        <div class="row mb-5 product-item" data-id="{{ p.EAS_Product_ID }}"> 
                                            <!-- Product information -->
                                            <div class="col">
                                                {% if p.Picture %}
                                                    <!-- Image -->
                                                    <img src="{{ p.Picture.url }}" width="120" class="mr-3">
                                                {% endif %}
                                            </div>
                            
                                            <div class="col">
                                                <!-- Product details -->
                                                <h5>{{ p.Name }}</h5>
                                                <p>ID: {{ p.EAS_Product_ID }}</p>
                                                <p>Stock: {{ p.Actual_Inventory_Count }}</p>
                                                <input type="hidden" class="product_pk" value="{{ p.Product_ID }}">
                                                <input type="hidden" class="product_count" value="{{ p.Actual_Inventory_Count }}">
                                            </div>
                            
                                            <div class="col">
                                                <!-- Add to Cart button -->
                                                <button type="button" class="btn btn-primary add-to-cart" data-name="{{ p.Name }}">Add to Cart</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third View: Summary -->
            <div id="step3" style="display: none;">
                <div class="container-fluid">
                    <legend>Summary</legend>

                    <!-- Buttons: back and submit -->
                    <div class="row my-3">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-success" id="submit_pro">Submit</button>
                        </div>
                    </div>
                    
                    <!-- Customer Information update this~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <h5>Product Requisition Information:</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <p><strong>Estimated Receiving Date:</strong> <span id=estimated_receiving_date_summary></span></p>
                            <p><strong>Manufacturer:</strong> <span id="manufacturer_name_summary"></span></p>
                            <p><strong>Total Cost:</strong> <span id="total_cost_summary"></span></p>
                        </div>
                    </div>
                    <h5> Notes:</h5>
                    <p id="pro_notes_summary"></p>
                    
                    <!-- Products Table -->
                    <h5>Products Selected:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="selected-products-table">
                                <!-- Selected products will be dynamically filled here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        // "Add to Cart" 
        var addToCartButtons = document.querySelectorAll('.add-to-cart');
        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var productName = button.getAttribute('data-name');
                var productId = button.parentNode.parentNode.dataset.id;
                var productPK = button.closest('.product-item').querySelector('.product_pk').value;
                var productCount = button.closest('.product-item').querySelector('.product_count').value; 
                addToCart(productName, productId, productPK,productCount);
            });
        });
        
        // add a product to the cart
        function addToCart(productName, productId, productPK,productCount) {
            // get the table body where products will be appended
            var productList = document.getElementById("product-list");
            
            // create a new row for the product
            var newRow = document.createElement("tr");
            
            // populate the row with product information
            newRow.innerHTML = `
                <td>${productName}</td>
                <td>${productId}</td>
                <td><input type="number" class="form-control text-center quantity-input" style="width: 100px;" value="0"></td>
                <td>${productCount}</td>
                <input type="hidden" class="product_pk" value=${productPK}>
                <td><button type="button" class="btn btn-danger" onclick="removeFromCart(this)">Remove</button></td>
            `;
            
            // append the new row to the table body
            productList.appendChild(newRow);
            
            // hide the product in the right column list
            hideProduct(productId);
        }
    
        //  remove a product from the cart
        function removeFromCart(row) {
            // get the reference to the row and remove it
            var productId = row.parentNode.parentNode.children[1].textContent;
            row.parentNode.parentNode.remove();
            
            // unhide the product in the right column list
            unhideProduct(productId);
        }
    
        // hide a product in the right column list
        function hideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = 'none';
            }
        }
    
        // unhide a product in the right column list
        function unhideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = '';
            }
        }
    
        var currentStep = 1;
    
        function nextStep() {
            if (currentStep === 1) {
                document.getElementById('step1').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
                currentStep = 2;
            } else if (currentStep === 2) {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step3').style.display = 'block';
                currentStep = 3;

                // Populate customer information fields UPDATE THIS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                document.getElementById('estimated_receiving_date_summary').textContent = document.getElementById('estimated_receiving_date').value;
                document.getElementById('manufacturer_name_summary').textContent = document.getElementById('manufacturer_name').value;
                document.getElementById('total_cost_summary').textContent = document.getElementById('total_cost').value;
                document.getElementById('pro_notes_summary').textContent = document.getElementById('pro_notes').value;

                // Collect selected products
                var selectedProducts = [];
                var productRows = document.querySelectorAll("#product-list tr");
                productRows.forEach(function(row) {
                    var name = row.cells[0].textContent;
                    var id = row.cells[1].textContent;
                    var quantity = row.cells[2].querySelector('input').value;
                    selectedProducts.push({ name: name, id: id, quantity: quantity });
                });

                // Retrieve PRO_Notes and Total_Cost from the form elements
                var proNotes = document.getElementById('pro_notes').value;
                var totalCost = document.getElementById('total_cost').value;

                // Render selected products along with additional information
                renderSummary(selectedProducts, proNotes, totalCost);
            }
        }

        // Render selected products along with additional information
        function renderSummary(selectedProducts, proNotes, totalCost) {
            var selectedProductsTable = document.getElementById("selected-products-table");
            selectedProductsTable.innerHTML = "";
            selectedProducts.forEach(function(product) {
                var row = document.createElement("tr");
                row.innerHTML = `
                    <td>${product.name}</td>
                    <td>${product.id}</td>
                    <td>${product.quantity}</td>
                `;
                selectedProductsTable.appendChild(row);
            });

            // Display additional information
            document.getElementById('pro_notes_summary').textContent = proNotes;
            document.getElementById('total_cost_summary').textContent = totalCost;
        }
        
        window.onload = function() {
            var selectedProducts = [];
            var productRows = document.querySelectorAll("#PRO_products tr");
            productRows.forEach(function(row) {
                var name = row.cells[0].textContent;
                var id = row.cells[1].textContent;
                var quantity = row.cells[2].textContent;
                selectedProducts.push({ name: name, id: id, quantity: quantity });
            });

    // Call renderSummary with selectedProducts
    renderSummary(selectedProducts);
};


        // Render consignee information and selected products
        function renderSummary(selectedProducts) {
            var selectedProductsTable = document.getElementById("selected-products-table");
            selectedProductsTable.innerHTML = "";
            selectedProducts.forEach(function(product) {
                var row = document.createElement("tr");
                row.innerHTML = `
                    <td>${product.name}</td>
                    <td>${product.id}</td>
                    <td>${product.quantity}</td>
                `;
                selectedProductsTable.appendChild(row);
            });
        }

        // Function to display the cancel warning modal
        function showCancelWarningModal() {
            var myModal = new bootstrap.Modal(document.getElementById('cancelWarningModal'));
            myModal.show();
        }

        // Function to handle cancellation of form submission
        function cancelForm() {
            // Redirect to the desired URL when Cancel is confirmed
            window.location.href = "{% url 'current_pros' %}";
        }

        // Function to go back to the previous step
        function prevStep() {
            if (currentStep === 3) {
                document.getElementById('step3').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
                currentStep = 2;
            } else if (currentStep === 2) {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step1').style.display = 'block';
                currentStep = 1;
            }
        }

        
        $(document).ready(function() {

            $('#submit_pro').click(function() {
                $('#PRO_products tbody tr').each(function(i) {
                    var productId = $(this).find('.product_pk').val();

                    var productQuantity = $(this).find(".quantity-input").val();

                    var comb = productId + ':' + productQuantity;
                    $('#all_products').val($('#all_products').val() + comb + '-');
                });

            });
        });
    </script>
</body>

<div class="modal fade" id="cancelWarningModal" tabindex="-1" aria-labelledby="cancelWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelWarningModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You will lose progress. Confirm to exit form?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="cancelForm()">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}