{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<h1>Create Item<h1>
<br><br><form method="POST" action="{% url 'update_product' pk=p.Product_ID %}"  enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="id_EAS_Product_ID">EAS Product ID:</label>
        <input type="text" name="eas_id" maxlength="32" id="id_EAS_Product_ID" value="{{ p.EAS_Product_ID }}">
    </div>
    
    <div>
        <label for="id_Name">Name:</label>
        <input type="text" name="product_name"  maxlength="64" id="id_Name" value="{{ p.Name }}">
    </div>

    <div>
        <label for="id_SKU">SKU:</label>
        <input type="text" name="product_sku"  maxlength="64" id="id_SKU" value="{{ p.SKU }}">
    </div>

    <div>
        <label for="id_Picture">Picture:</label>
        <div id="image-preview">
            {% if p.Picture %}
                <div class="product-image"> 
                    <img src="{{ p.Picture.url }}" width="50">
                </div>
            {% endif %}
        </div>
        <input type="file" name="product_picture" accept="image/*" id="id_Picture">
        <button type="button" id="remove-image" {% if not p.Picture %}style="display: none;"{% endif %}>Remove Image</button>
        <input type="hidden" name="removed_product_picture" id="remove-product-picture" value='Not'>

    </div>
        
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const pictureInput = document.getElementById("id_Picture");
        const imagePreview = document.getElementById("image-preview");
        const removeImageButton = document.getElementById("remove-image");
        const imageRemoved = document.getElementById("remove-product-picture");

        // Function to update the image preview
        function updatePreview() {
            const file = pictureInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(event) {
                    const image = new Image();
                    image.src = event.target.result;
                    image.width = 50;
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(image);
                    removeImageButton.style.display = "inline-block"; // Show the "Remove Image" button
                };
                reader.readAsDataURL(file);
            } else {
                imagePreview.innerHTML = '';
            }
        }

        // Event listener for input change
        pictureInput.addEventListener("change", updatePreview);

        // Event listener for remove image button
        removeImageButton.addEventListener("click", function() {
            pictureInput.value = null; // Clear the input field
            removeImageButton.style.display = "none"; // Hide the "Remove Image" button
            imageRemoved.value = "removed";
            updatePreview(); // Update the preview to remove the image
        });
    });

    </script>
    
    
    <div>
        <label for="id_Price">Price:</label>
        <input type="number" name="product_price" step="0.01" id="id_Price" value="{{ p.Price }}">
    </div>

    <div class="form-group">
        <div class="checkbox">
            <input type="hidden" name="product_visibility" value="False" />
            <label><input type="checkbox" name="product_visibility" value="True" id="id_Visibility" {% if p.Visibility%}checked{% endif %}>Visibility</label>
        </div>
    </div>

    <div>
        <label for="id_Actual_Inventory_Count">Actual Inventory Count:</label>
        <input type="number" name="product_initial_count" id="id_Actual_Inventory_Count" value="{{ p.Actual_Inventory_Count }}" readonly>
    </div>
    
    <div>
        <label for="id_Reserved_Inventory_Count">Reserved Inventory Count:</label>
        <input type="number" name="product_reserved_count" id="id_Reserved_Inventory_Count" value="{{ p.Reserved_Inventory_Count }}" readonly>
    </div>

    <div>
        <label for="id_To_Be_Received_Inventory_Count">To Be Received Inventory Count:</label>
        <input type="number" name="product_to_be_received_count" id="id_To_Be_Received_Inventory_Count" value="{{ p.To_Be_Received_Inventory_Count }}" readonly>
    </div>

    <div>
        <label for="id_Stock_Level_Threshold">Stock Level Threshold:</label>
        <input type="number" name="product_stock_level_threshold" id="id_Stock_Level_Threshold" value="{{ p.Product_Low_Stock_Threshold }}">
    </div>

    <div>
        <label for="id_Category">Category:</label>
        <select name="product_category" id="id_Category" required>
            <option value="{{p.Category.Category_ID}}">{{p.Category}}</option>
            {% for cat in categories %}
                {% if cat.Category_ID != p.Category.Category_ID %}
                    <option value="{{ cat.Category_ID }}" >{{ cat.Category_Name }}</option>
                {% endif %}
            {% endfor %}
        </select>   
    </div>

    <div>
        <label for="id_Consignees">Consignee:</label>
        <select name="product_consignees" id="id_Consignees" multiple>
            {% for cp in con_p %}
            <option value="{{ cp.Consignee_ID.Consignee_ID }}" selected>{{ cp.Consignee_ID }}</option>
            {% endfor %}
            {% for con in consignees %}
                {% if con.Consignee_ID not in con_p_ids %}
                    <option value="{{ con.Consignee_ID }}">{{ con.Customer_Name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="row">
        <button type="submit" class="btn-success" name="Add">Update</button>
        <a href="{% url 'view_product' pk=p.Product_ID %}" class="btn-danger">Cancel</a>
    </div>  
</form>


{% endblock %}