<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
</head>
<style>
    .required:after {
      content:" *";
      color: red;
    }
  </style>
<body class="bg-light" style="background-color: #eee;">
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Update Product Requisition Order</h4>
            </div>
        </div>

        <div class="row">
            <form id="updatePRO" method="POST" action="{% url 'update_pro' pk=requisition_order.pk %}">
                {% csrf_token %}
                <main>
                    <div id="step1">
                        <fieldset>
                            <legend>PRO Information</legend>
                            <!-- 1st-->
                            <!-- Row 1: Estimated Receiving Date, Manufacturer, Total Cost -->
                            <div class="row">
                                <div class="col">
                                    <label class="required" for="estimated_receiving_date">Estimated Receiving Date:</label><br>
                                    <input type="date" value="{{ requisition_order.Estimated_Receiving_Date|date:'Y-m-d'}}" id="estimated_receiving_date" name="estimated_receiving_date" class="form-control rounded-10" onkeydown="return false" required><br><br>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        var today = new Date();
                                        var dd = String(today.getDate()).padStart(2, '0');
                                        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
                                        var yyyy = today.getFullYear();
                                
                                        today = yyyy + '-' + mm + '-' + dd;
                                
                                        var estimatedReceivingDateInput = document.getElementById('estimated_receiving_date');
                                        estimatedReceivingDateInput.setAttribute('min', today);
                                    });
                                </script>
                                <div class="col">
                                    <label class="required" for="manufacturer_name">Manufacturer:</label><br>
                                    <input type="text" id="manufacturer_name" name="manufacturer_name" class="form-control rounded-10" value="{{ requisition_order.PRO_Manufacturer }}" maxlength="32" ><br><br>
                                </div>
                                <div class="col">
                                    <label class="required" for="total_cost">Total Cost:</label><br>
                                    <div class="input-group">
                                        <span class="input-group-text">PHP</span>
                                        <input type="number" id="total_cost" name="total_cost" step=".01" min="0" value="{{ requisition_order.Total_Cost }}" max="9999999.99" class="form-control rounded-10" oninput="validateInput(event)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.key === '.'" size="9">
                                    </div>
                                    <script>
                                        function validateInput(event) {
                                            var input = event.target;
                                            if (input.value.length > 10) {
                                                input.value = input.value.slice(0, 10);
                                            }
                                        }
                                    </script>
                                </div>
                            </div>

                            <!-- Row 2: Notes -->
                            <div class="row">
                                <div class="col">
                                    <label for="pro_notes">PRO Notes:</label><br>
                                    <textarea id="pro_notes" name="pro_notes" rows="4" cols="50" class="form-control rounded-10" maxlength="1024">{{ requisition_order.Notes }}</textarea><br><br>
                                </div>
                            </div>
                            
                            <div class="row mb-3">
                                <div class="col">
                                    <a href="#" class="btn btn-danger" onclick="showCancelWarningModal()">Cancel</a>
                                </div>
                                <div class="col text-end">
                                    <button type="button" class="btn btn-success" onclick="nextStep()">Next</button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                  <!-- Second Tab: Product Selection -->
            <div id="step2" style="display: none;">
                <div class="container-fluid">
                    <legend>Products Selection</legend>

                    

                    <div class="row mt-4">
                        <div class="d-flex justify-content-center">
                            <!-- Left column for Products Ordered -->
                            <div class="col-md-6" style="padding-right: 2%; overflow-y: auto; height: 630px;">
                                <h5>Products Ordered:</h5>
                                <div class="container mt-2">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center" id="PRO_products">
                                            <thead class="border-bottom border-dark">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>ID</th>
                                                    <th>Quantity</th>
                                                    <th>Stock</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="product-list">
                                                <!-- Products will be appended here as rows -->
                                                <!-- Loop through stock_ordered_items and display the stock ordered -->
                                                {% for stock in stock_ordered_items %}
                                                <tr>
                                                    <td>{{ stock.Product_ID.Name }}</td>
                                                    <td>{{ stock.Product_ID.EAS_Product_ID }}</td>
                                                    <td>
                                                        <input type="number" 
                                                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                                               maxlength="5"
                                                               min='1'
                                                               id="quantityInput" 
                                                               class="form-control text-center quantity-input" 
                                                               style="width: 100px;" 
                                                               value="{{ stock.Quantity }}" 
                                                               oninput="validateQuantityInput(event)"
                                                               onkeydown="return restrictNonNumericals(event)">
                                                    </td>                                                    
                                                    <td>{{ stock.Product_ID.Actual_Inventory_Count }}</td>
                                                    <input type="hidden" class="product_pk" value={{stock.Product_ID.Product_ID}} >
                                                    <td><button type="button" class="btn btn-danger" onclick="removeFromCart(this)">Remove</button></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <input type="hidden" name="all_products" id="all_products" value="">  
                                        {% for s_o in stock_ordered_items %}
                                        <input type="hidden" name="ordered_prods" id="ordered_prods" value="{{ s_o.Product_ID.EAS_Product_ID}}">
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="border-left: 2px solid gray; padding-left: 2%;">
                                <div class="row mb-3">
                                    <h5>List of Products:</h5>
                                    <div class="input-group mb-4 mr-3">
                                        <input type="text" class="form-control" id="search-input" placeholder="Search products..." aria-label="Search products" aria-describedby="search-button">
                                    </div>
                                </div>
                                <div class="row mx-4" id="product-list-right" style="overflow-y: auto; height: 520px;">
                                    {% for p in products %}
                                    {% if p.Visibility %}
                                        <div class="row mb-5 product-item" data-id="{{ p.EAS_Product_ID }}"> 
                                            <!-- Product information -->
                                            <div class="col">
                                                {% if p.Picture %}
                                                    <!-- Image -->
                                                    <img src="{{ p.Picture.url }}" width="120" class="mr-3">
                                                {% endif %}
                                            </div>
                            
                                            <div class="col">
                                                <!-- Product details -->
                                                <h5>{{ p.Name }}</h5>
                                                <p>ID: {{ p.EAS_Product_ID }}</p>
                                                <p>Stock: {{ p.Actual_Inventory_Count }}</p>
                                                <input type="hidden" class="product_pk" value="{{ p.Product_ID }}">
                                                <input type="hidden" class="product_count" value="{{ p.Actual_Inventory_Count }}">
                                            </div>
                            
                                            <div class="col">
                                                <!-- Add to Cart button -->
                                                <button type="button" class="btn btn-primary add-to-cart" data-name="{{ p.Name }}">Add to Cart</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons: back and cancel -->
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-success" onclick="validateQuantityAndNext()">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third View: Summary -->
            <div id="step3" style="display: none;">
                <div class="container-fluid">
                    <legend>Summary</legend>
                    <!-- Customer Information update this~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <h5>Product Requisition Information:</h5>
                    <div class="row mb-3">
                        <div class="col">
                            <p><strong>Estimated Receiving Date:</strong> <span id=estimated_receiving_date_summary></span></p>
                            <p><strong>Manufacturer:</strong> <span id="manufacturer_name_summary"></span></p>
                            <p><strong>Total Cost:</strong> <span id="total_cost_summary"></span></p>
                        </div>
                    </div>
                    <h5> Notes:</h5>
                    <p id="pro_notes_summary"></p>
                    
                    <!-- Products Table -->
                    <h5>Products Selected:</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="selected-products-table">

                            </tbody>
                        </table>
                    </div>
                    <!-- Buttons: back and submit -->
                    <div class="row my-3">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary" onclick="prevStep()">Back</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-success" id="submit_pro" onclick="showConfirmationModal()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            var totalPrice = 0;

            $('#confirmSubmit').click(function () { // Changed the event listener to the "Yes" button in the modal
                $('#PRO_products tbody tr').each(function (i) {
                    var productId = $(this).find('.product_pk').val();
                    var productPriceText = $(this).find("td:eq(2)").text().trim();
                    var productPriceNumeric = parseFloat(productPriceText.replace('Php ', '').replace(',', ''));

                    var productQuantity = $(this).find(".quantity-input").val();

                    var subtotal = productPriceNumeric * productQuantity; // Calculate subtotal for the row
                    totalPrice += subtotal;

                    var comb = productId + ':' + productQuantity;
                    $('#all_products').val($('#all_products').val() + comb + '-');
                });

                $('#total_price').val(totalPrice.toFixed(2)); // Set total price with 2 decimal places

                // Now submit the form
                document.getElementById('updatePRO').submit();
            });
        });

// Function to be called before proceeding to the next step
function validateAndNextStep() {
    if (validateInputs()) {
        nextStep();
    }
}
        // checks date
        document.addEventListener('DOMContentLoaded', function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;

        var estimatedReceivingDateInput = document.getElementById('estimated_receiving_date');
        estimatedReceivingDateInput.min = today; // Directly set the min attribute
    });
        // "Add to Cart" 
        var addToCartButtons = document.querySelectorAll('.add-to-cart');
        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var productName = button.getAttribute('data-name');
                var productId = button.parentNode.parentNode.dataset.id;
                var productPK = button.closest('.product-item').querySelector('.product_pk').value;
                var productCount = button.closest('.product-item').querySelector('.product_count').value; 
                addToCart(productName, productId, productPK,productCount);
            });
        });
        
        // add a product to the cart
        function addToCart(productName, productId, productPK,productCount) {
            // get the table body where products will be appended
            var productList = document.getElementById("product-list");
            
            // create a new row for the product
            var newRow = document.createElement("tr");
            
            // populate the row with product information
            newRow.innerHTML = `
                <td>${productName}</td>
                <td>${productId}</td>
                <td>
                    <input type="number" 
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="5"
                            min='1'
                            id="quantityInput" 
                            class="form-control text-center quantity-input" 
                            style="width: 100px;" 
                            value="1"
                            oninput="validateQuantityInput(event)"
                            onkeydown="return restrictNonNumericals(event)">
                </td>  
                <td>${productCount}</td>
                <input type="hidden" class="product_pk" value=${productPK}>
                <td><button type="button" class="btn btn-danger" onclick="removeFromCart(this)">Remove</button></td>
            `;
            
            // append the new row to the table body
            productList.appendChild(newRow);
            
            // hide the product in the right column list
            hideProduct(productId);
        }
    
        //  remove a product from the cart
        function removeFromCart(row) {
            // get the reference to the row and remove it
            var productId = row.parentNode.parentNode.children[1].textContent;
            row.parentNode.parentNode.remove();
            
            // unhide the product in the right column list
            unhideProduct(productId);
        }
    
        // hide a product in the right column list
        function hideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = 'none';
            }
        }
    
        // unhide a product in the right column list
        function unhideProduct(productId) {
            var productItem = document.querySelector(`.product-item[data-id="${productId}"]`);
            if (productItem) {
                productItem.style.display = '';
            }
        }
    
        var currentStep = 1;
    
        function nextStep() {
            if (currentStep === 1) {
                // Validate form inputs before proceeding
                if (validateFormInputs()) {
                    document.getElementById('step1').style.display = 'none';
                    document.getElementById('step2').style.display = '';
                    currentStep = 2;
                } else {
                    // Show error message or handle invalid form
                    alert('Please fill out all required fields and satisfy the required input.');
                }
            } else if (currentStep === 2) {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step3').style.display = '';
                currentStep = 3;

                // Populate customer information fields UPDATE THIS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                document.getElementById('estimated_receiving_date_summary').textContent = document.getElementById('estimated_receiving_date').value;
                document.getElementById('manufacturer_name_summary').textContent = document.getElementById('manufacturer_name').value;
                document.getElementById('total_cost_summary').textContent = document.getElementById('total_cost').value;
                document.getElementById('pro_notes_summary').textContent = document.getElementById('pro_notes').value;

                // Collect selected products
                var selectedProducts = [];
                var productRows = document.querySelectorAll("#product-list tr");
                productRows.forEach(function(row) {
                    var name = row.cells[0].textContent;
                    var id = row.cells[1].textContent;
                    var quantity = row.cells[2].querySelector('input').value;
                    selectedProducts.push({ name: name, id: id, quantity: quantity });
                });

                // Retrieve PRO_Notes and Total_Cost from the form elements
                var proNotes = document.getElementById('pro_notes').value;
                var totalCost = document.getElementById('total_cost').value;

                // Render selected products along with additional information
                renderSummary(selectedProducts, proNotes, totalCost);
            }
        }
        function validateFormInputs() {
    var inputs = document.querySelectorAll('#step1 input[required], #step1 select[required]');
    var isValid = true;

    inputs.forEach(function(input) {
        if (!input.value.trim()) {
            isValid = false;
            input.classList.add('is-invalid');
        } else {
            input.classList.remove('is-invalid');
        }
    });

    // Additional fields to include in validation
    var manufacturerNameInput = document.getElementById('manufacturer_name');
    if (!manufacturerNameInput.value.trim()) {
        isValid = false;
        manufacturerNameInput.classList.add('is-invalid');
    } else {
        manufacturerNameInput.classList.remove('is-invalid');
    }

    var totalCostInput = document.getElementById('total_cost');
    if (!totalCostInput.value.trim()) {
        isValid = false;
        totalCostInput.classList.add('is-invalid');
    } else {
        totalCostInput.classList.remove('is-invalid');
    }

    return isValid;
    function validateQuantityAndNext() {
            var quantityInputs = document.querySelectorAll('.quantity-input');
            var isValid = true;

            // Check if there's at least one product in the left column
            var productListRows = document.querySelectorAll("#PRO_products tbody tr");
            if (productListRows.length === 0) {
                isValid = false;
                // Display alert message
                alert("There should be at least 1 product in the products ordered.");
            }

            // Check if all quantities are valid
            quantityInputs.forEach(function(input) {
                const quantity = parseInt(input.value);
                console.log(quantity);
                if (isNaN(quantity) || quantity < 1) {
                    isValid = false;
                    // Show error message or handle invalid input as desired
                    alert("Quantity must be a number greater than or equal to 1.");
                }
            });

            if (isValid) {
                nextStep(); // Proceed to the next step if all quantities are valid and at least one product is selected
            }
        }
}


        // Render selected products along with additional information
        function renderSummary(selectedProducts, proNotes, totalCost) {
            var selectedProductsTable = document.getElementById("selected-products-table");
            selectedProductsTable.innerHTML = "";
            selectedProducts.forEach(function(product) {
                var row = document.createElement("tr");
                row.innerHTML = `
                    <td>${product.name}</td>
                    <td>${product.id}</td>
                    <td>${product.quantity}</td>
                `;
                selectedProductsTable.appendChild(row);
            });

            // Display additional information
            document.getElementById('pro_notes_summary').textContent = proNotes;
            document.getElementById('total_cost_summary').textContent = totalCost;
        }

        // Render consignee information and selected products
        function renderSummary(selectedProducts) {
            var selectedProductsTable = document.getElementById("selected-products-table");
            selectedProductsTable.innerHTML = "";
            selectedProducts.forEach(function(product) {
                var row = document.createElement("tr");
                row.innerHTML = `
                    <td>${product.name}</td>
                    <td>${product.id}</td>
                    <td>${product.quantity}</td>
                `;
                selectedProductsTable.appendChild(row);
            });
        }

        // Function to display the cancel warning modal
        function showCancelWarningModal() {
            var myModal = new bootstrap.Modal(document.getElementById('cancelWarningModal'));
            myModal.show();
        }

        // Function to handle cancellation of form submission
        function cancelForm() {
            // Redirect to the desired URL when Cancel is confirmed
            window.location.href = "{% url 'current_pros' %}";
        }

        // Function to go back to the previous step
        function prevStep() {
            if (currentStep === 3) {
                document.getElementById('step3').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
                currentStep = 2;
            } else if (currentStep === 2) {
                document.getElementById('step2').style.display = 'none';
                document.getElementById('step1').style.display = 'block';
                currentStep = 1;
            }
        }

        
        $(document).ready(function() {

            $('#submit_pro').click(function() {
                $('#PRO_products tbody tr').each(function(i) {
                    var productId = $(this).find('.product_pk').val();

                    var productQuantity = $(this).find(".quantity-input").val();

                    var comb = productId + ':' + productQuantity;
                    $('#all_products').val($('#all_products').val() + comb + '-');
                });

            });
        });
        
        $(document).ready(function() {
            $(window).keydown(function(event){
                if(event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        document.getElementById("search-input").addEventListener("input", function() {
        var searchValue = this.value.trim().toLowerCase();
        var productItems = document.querySelectorAll(".product-item");
        var addedProductIds = getAddedProductIds(); // Get product IDs already added to the left column
        productItems.forEach(function(item) {
            var productId = item.dataset.id; // Get the product ID from dataset
            var productName = item.querySelector("h5").textContent.trim().toLowerCase();
            if (!addedProductIds.includes(productId) && productName.includes(searchValue)) {
                item.style.display = ""; // Show the product item if not already added and matches search
            } else {
                item.style.display = "none"; // Hide the product item otherwise
            }
        });
    });

    function getAddedProductIds() {
        var addedProducts = document.querySelectorAll("#product-list tr");
        var productIds = [];
        addedProducts.forEach(function(product) {
            productIds.push(product.dataset.id);
        });
        return productIds;
    }
    
    function restrictNonNumericals(event) {
            // Allow: backspace, delete, tab, escape, enter, and .
            if (event.key === 'Backspace' || event.key === 'Delete' || event.key === 'Tab' || event.key === 'Escape' || event.key === 'Enter') {
                return;
            }
            // Allow: Ctrl+A, Command+A
            if ((event.ctrlKey === true || event.metaKey === true) && (event.key === 'a' || event.key === 'A')) {
                return;
            }
            // Allow: home, end, left, right, down, up
            if (event.key === 'Home' || event.key === 'End' || event.key === 'ArrowLeft' || event.key === 'ArrowRight' || event.key === 'ArrowUp' || event.key === 'ArrowDown') {
                return;
            }
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.key < '0' || event.key > '9')) {
                event.preventDefault();
            }
        }

        function validateQuantityAndNext() {
            var quantityInputs = document.querySelectorAll('.quantity-input');
            var isValid = true;

            // Check if there's at least one product in the left column
            var productListRows = document.querySelectorAll("#PRO_products tbody tr");
            if (productListRows.length === 0) {
                isValid = false;
                // Display alert message
                alert("There should be at least 1 product in the products ordered.");
            }

            // Check if all quantities are valid
            quantityInputs.forEach(function(input) {
                const quantity = parseInt(input.value);
                console.log(quantity);
                if (isNaN(quantity) || quantity < 1) {
                    isValid = false;
                    // Show error message or handle invalid input as desired
                    alert("Quantity must be a number greater than or equal to 1.");
                }
            });

            if (isValid) {
                nextStep(); // Proceed to the next step if all quantities are valid and at least one product is selected
            }
        }
        // Function to show the confirmation modal
        function showConfirmationModal() {
            $('#confirmationModal').modal('show');
        }

        // Event listener for the submit button
        document.getElementById('submit_pro').addEventListener('click', function(event) {
            // Prevent the default form submission
            event.preventDefault();
            // Show the confirmation modal
            showConfirmationModal();
        });

        // Event listener for DOMContentLoaded
        document.addEventListener('DOMContentLoaded', function() {
            // Event listener for the confirm button in the modal
            document.getElementById('confirmSubmit').addEventListener('click', function() {
                // Submit the form
                document.getElementById('updatePRO').submit();
            });
        });
    </script>
</body>

<div class="modal fade" id="cancelWarningModal" tabindex="-1" aria-labelledby="cancelWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelWarningModalLabel">Warning</h5>
            </div>
            <div class="modal-body">
                Exit form? Any changes you have made may not be saved.
            </div>
            <div class="modal-footer">
                <div class="col">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Back</button>
                </div>
                <button type="button" class="btn btn-danger" onclick="cancelForm()">Exit Anyways</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmation </h5>
        </div>
        <div class="modal-body">
            Are you sure you want to add this product requisition order in the system?
        </div>
        <div class="modal-footer">
            <div class="col">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            </div>
            <button type="submit" class="btn btn-success" id="confirmSubmit">Yes</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}