{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}

<head>
  <title>My Account</title>
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; 
    }
    .card {
      width: 50%; 
      margin: 0 auto; 
      padding: 20px;
      background-color: #eee;
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .image-column {
      display: flex;
      justify-content: center;
    }
    .image-column img {
      width: 50px;
      height: auto; 
    }
    .row {
      margin-bottom: 15px; 
    }
    
    input[type="text"],
    input[type="password"] {
      border: 1px solid #ccc; 
      border-radius: 5px; 
      padding: 8px; 
      background-color: white; 
      width: 100%; 
    }

    .btn-edit {
      font-size: 18px; 
      padding: 6px 28px; 
    }

    .invalid-input {
      border: 1px solid red !important;
    }
  </style>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
          <div class="col-md-auto d-flex align-items-center">
            <h4 class="m-0 mr-3">Employee Account</h4>
          </div>
        </div>
    </div>
    <div class="row p-5"></div>
    <div class="card">
      <form method="POST" action="{% url 'update_employee' pk=Employee.pk %}">
        {% csrf_token %}
        <!-- Image, Name, Role -->
        <div class="row mt-2 mb-4">
          <div class="col image-column"> 
            {% if Employee.Profile_Picture %}
                <img src="{{ Employee.Profile_Picture.url }}" alt="User Image" width="400">
            {% else %}
                <span>No image available</span>
            {% endif %}
          </div> 
            <div class="col"><h5>{{Employee.First_Name}} {{Employee.Last_Name}}</h5></div>
            <div class="col d-flex justify-content-end">
                <!-- <h6>Role: Employee</h6> -->
            </div>
        </div>

        <!-- Old user info -->
        <div class="row">
            <!-- Username -->
            <div class="col">
                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" value="{{Employee.user.username}}">
            </div>
            
            <div class="col">
            </div>
        </div>

        <!-- New password -->
        {% if error_msg %}
        <div class="col-12 alert alert-danger" role="alert" style="margin-top: 20px;">
          {{ error_msg }} 
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <label for="new_password">New Password</label><br>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="col">
                <label for="reenter_new_password">Re-enter New Password</label><br>
                <input type="password" id="reenter_new_password" name="reenter_new_password" required>
            </div>
        </div>

        <!-- Cancel & Save button row -->
        <div class="row">
          <div class="col">
            <a class="btn btn-danger btn-edit" onclick="showCancelWarningModal()">Cancel</a>
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-primary btn-edit" href="#" onclick=validateForm()>Save</button>
            
          </div>
        </div>
    </div>

    <script>

      // Function to display the cancel warning modal
      function showCancelWarningModal() {
          var myModal = new bootstrap.Modal(document.getElementById('cancelWarningModal'));
          myModal.show();
      }

      // Function to direct back to current inventoRY
      function cancelForm() {
          window.location.href = "{% url 'view_employee' pk=Employee.pk %}";
      }
      
      // Function to validate form inputs
      function validateForm() {
        var inputs = document.querySelectorAll('input[required]');
        var isValid = true;

        inputs.forEach(function(input) {
          input.classList.remove('invalid-input'); // Remove any existing invalid-input class
          if (!input.value.trim()) {
            isValid = false;
            input.classList.add('invalid-input'); // Add red outline for empty fields
          }
        });

        if (isValid) {
          // All required fields are filled, prompt for confirmation
          var confirmation = confirm('Are you sure you want to save a new account?');
          if (confirmation) {
            // If user confirms, proceed with saving
            return true;
          } else {
            // If user cancels confirmation, prevent form submission
            return false;
          }
        } else {
          // There are blank fields, do not proceed and prevent form submission
          return false;
        }
      }

    </script>
</body>

<div class="modal fade" id="cancelWarningModal" tabindex="-1" aria-labelledby="cancelWarningModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="cancelWarningModalLabel">Warning</h5>
          </div>
          <div class="modal-body">
            Exit form? Any changes you have made may not be saved.
          </div>
          <div class="modal-footer">
            <div class="col">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Back</button>
            </div>
            <button type="button" class="btn btn-danger" onclick="cancelForm()">Exit Anyways</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}
