<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <style>
        .required:after {
              content:" *";
              color: red;
            }
    </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Direct Customer</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">Update Direct Customer</h4>
            </div>
        </div>
        {% if error_msg %}
            <div class="alert alert-danger">{{ error_msg }}</div>
        {% endif %}
        <form id="updateForm" method="POST" action="{% url 'update_direct_customer' customer.pk %}">
            {% csrf_token %}
            <legend>Direct Customer Information</legend>
            <div class="col md-4">
                <div class="mb-3">
                    <label for="id_customer_name" class="required">Customer Name:</label>
                    <input type="text" name="customer_name" class="form-control" maxlength="64" required id="id_customer_name" value="{{ customer.Customer_Name }}" required>
                </div>
            </div>
            <div class="col md-4">
                <div class="mb-3">
                    <label for="id_primary_contact_number" class="required">Primary Contact Number:</label>
                    <input type="text" name="primary_contact_number" class="form-control" maxlength="11" required id="id_primary_contact_number" value="{{ customer.Primary_Contact_Number }}" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_address_line1" class="required">Address Line 1:</label>
                <input type="text" name="address_line1" class="form-control" maxlength="255" required id="id_address_line1" value="{{ customer.Address_Line_1 }}" required>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_province" class="required">Province:</label>
                        <input type="text" name="province" class="form-control" maxlength="100" required id="id_province" value="{{ customer.Province }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_municipality" class="required">Municipality:</label>
                        <input type="text" name="municipality" class="form-control" maxlength="100" required id="id_municipality" value="{{ customer.Municipality }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_barangay" class="required">Barangay:</label>
                        <input type="text" name="barangay" class="form-control" maxlength="100" required id="id_barangay" value="{{ customer.Barangay }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="id_zip_code" class="required">Zip Code:</label>
                        <input type="text" name="zip_code" class="form-control" id="zip_code" placeholder="Zip Code" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="4" pattern="[0-9]{4}" value="{{ customer.Zip_Code }}" required>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="id_notes" class="form-label custom-text">Notes:</label>
                <textarea name="notes" class="form-control" id="id_notes" rows="3">{{ customer.Notes }}</textarea>
            </div>
            <div class="d-flex justify-content-between w-100">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel</button>
                <button type="button" class="btn btn-success" id="submitBtn" onclick="handleSubmit()">Update</button>
            </div>
        </form>
    </div>
</body>
<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Exit form? Any changes you have made may not be saved.
            </div>
            <div class="modal-footer">
                <div class="col">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
            </div>
                <a href="{% url 'current_customers' %}" class="btn btn-danger">Exit Anyways</a>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Form Submission Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to submit the form?
            </div>
            <div class="modal-footer">
                <div class="col">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                </div>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" onclick="document.getElementById('updateForm').submit()">Yes</button>
            </div>
        </div>
    </div>
</div>
<script>
    
    document.getElementById("cancelButton").addEventListener("click", function() {
            // Check if any input field has a value
            var formIsEmpty = true;
            var inputs = document.querySelectorAll("#updateForm input[type='text']");
            inputs.forEach(function(input) {
                if (input.value.trim() !== '') {
                    formIsEmpty = false;
                }
            });

            // If the form is not empty, open the cancel confirmation modal
            if (!formIsEmpty) {
                var myModal = new bootstrap.Modal(document.getElementById('cancelModal'));
                myModal.show();
            } else {
                // If the form is empty, redirect to the current inventory page
                window.location.href = "{% url 'current_customers' %}";
            }
        });


       // Function to check if all required fields are filled
        function checkRequiredFields() {
            let inputs = document.querySelectorAll('input[required]');
            let isValid = true;

            inputs.forEach(function(input) {
                if (!input.value.trim()) {
                    isValid = false;
                    input.classList.add('is-invalid'); // Add red border
                } else {
                    input.classList.remove('is-invalid'); // Remove red border
                }
            });

            if (!isValid) {
                alert('Please fill out all required fields and satisfy the required input.');
            }

            return isValid;
        }

        // Function to show the confirmation modal
        function showConfirmationModal() {
            $('#confirmationModal').modal('show');
        }

        // Function to handle form submission
        function handleSubmit(event) {
            if (checkRequiredFields() && checkPrimaryContactNumber()) {
                showConfirmationModal();
            }
        }


        // Function to check if the primary contact number starts with 09
        function checkPrimaryContactNumber() {
            let primaryContactInput = document.getElementById('id_primary_contact_number');
            let inputValue = primaryContactInput.value.trim();
            let isValid = /^09/.test(inputValue); // Check if input starts with 09

            if (!isValid) {
                primaryContactInput.classList.add('is-invalid'); // Add red border
                alert('Please input a number starting with 09.'); // Notify the user
            } else {
                primaryContactInput.classList.remove('is-invalid'); // Remove red border
            }

            return isValid;
        }
</script>
{% endblock %}
