<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
{% load mathfilters %}
<head>
    <title>Current Product Requisition Orders</title>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">View Product Requisition Order</h4>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col">
                <h5>Product Requisition Order No. {{ pro.Product_Requisition_ID }}</h5>
            </div>
            <div class="col-auto d-flex">
                <a href="{% url 'partially_fulfill' pro.pk %}" class="btn btn-primary me-2">Partially Fulfill</a>
                {% if not has_parfills %}
                <a href="{% url 'update_pro' pro.pk %}" class="btn btn-primary me-2">Edit</a>
                <form id="cancelPRoForm{{ pro.pk }}" action="{% url 'cancel_pro_specific' pk=pro.pk account_id=request.user.account.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-danger me-2 openCancelModal" data-pro-pk="{{ pro.pk }}">Cancel</button>
                </form>
                
                <div class="modal fade" id="confirmCancelModal{{ pro.pk }}" tabindex="-1" aria-labelledby="confirmCancelModalLabel{{ pro.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmCancelModalLabel{{ pro.pk }}">Confirm Cancel</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to cancel this product requisition?
                            </div>
                            <div class="modal-footer">
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                </div>
                                <button type="submit" class="btn btn-success confirmCancel" data-pro-form="{{ pro.pk }}">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <form id="closePRoForm{{ pro.pk }}" action="{% url 'close_pro' pk=pro.pk account_id=request.user.account.pk %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="btn btn-success openCloseModal" data-pro-pk="{{ pro.pk }}">Close</button>
                </form>
                
                <div class="modal fade" id="confirmCloseModal{{ pro.pk }}" tabindex="-1" aria-labelledby="confirmCloseModalLabel{{ pro.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmCloseModalLabel{{ pro.pk }}">Confirm Close</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to close this product requisition?
                            </div>
                            <div class="modal-footer">
                                <div class="col">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                </div>
                                <button type="submit" class="btn btn-success confirmClose" data-pro-form="{{ pro.pk }}">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% if error_msg %}
            <div class="alert alert-danger" role="alert">
                {{ error_msg }}
            </div>
        {% endif %}
        <div class="row mt-3">
            <div class="col">
                <p>Creation Date: {{ pro.Creation_Date }}</p> 
                <p>Estimated Receiving Date: {{ pro.Estimated_Receiving_Date }}</p>
                <p>Manufacturer: {{ pro.PRO_Manufacturer }}</p>
                <p>Total Cost: {{ pro.Total_Cost }}</p>
                <p>Created by: {{pro.Account_ID_Created_by}}</p>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="overflow-auto p-3" style="background-color: #ddd; border-radius: 10px;">
                    <h6>Notes:</h6>
                    <!-- HERE TOO, add notes pk ! -->
                    <p>{{ pro.Notes }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h6>Product Stocks Ordered:</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product ID</th>
                            <th>Quantity</th>
                            <th>Partially Fullfilled</th>
                            <th>To Be Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in stocks %}
                            <tr>
                                <td>{{ s.Product_ID.Name }}</td>
                                <td>{{ s.Product_ID.EAS_Product_ID }}</td>
                                <td>{{ s.Quantity }}</td>
                                <!-- Display combined partially fulfilled quantity for the stock -->
                                {% if s.pk in no_parfills %}
                                    <td>0</td>
                                    <td>{{ s.Quantity }}</td>
                                {% else %}
                                    {% for parfill in previous_parfills %}
                                        {% if parfill.Stock == s.pk %}
                                            <td class="fulfilled-quantity">{{ parfill.total_quantity }}</td>
                                            
                                            <td class="remaining-quantity" data-quantity="{{ s.Quantity }}" data-fulfilled="{{ parfill.total_quantity }}"></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'current_pros' %}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.bootstrap5.js"></script>
<script>
    // Get all elements with class "remaining-quantity"
    var remainingQuantityElements = document.querySelectorAll('.remaining-quantity');
    
    remainingQuantityElements.forEach(function(element) {
        // Get the ordered quantity and fulfilled quantity from data attributes
        var quantity = parseInt(element.dataset.quantity);
        var fulfilledQuantity = parseInt(element.dataset.fulfilled);
        
        // Calculate remaining quantity
        var remainingQuantity = quantity - fulfilledQuantity ;
        
        // Update the content of the element with the remaining quantity
        element.textContent = remainingQuantity;
    });
    var cancelButtons = document.querySelectorAll('.openCancelModal');
    cancelButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            var proId = this.getAttribute('data-pro-pk');
            $('#confirmCancelModal' + proId).modal('show');
        });
    });

    // Handle submission of the cancellation form when confirmed
    var confirmCancelButtons = document.querySelectorAll('.confirmCancel');
    confirmCancelButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            var proFormId = this.getAttribute('data-pro-form');
            $('#cancelPRoForm' + proFormId).submit();
        });
    });
    // Open modal when the "Close" button is clicked
    var closeButtons = document.querySelectorAll('.openCloseModal');
    closeButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            var proId = this.getAttribute('data-pro-pk');
            console.log(proId);
            $('#confirmCloseModal' + proId).modal('show');
        });
    });

    // Handle submission of the close form when confirmed
    var confirmCloseButtons = document.querySelectorAll('.confirmClose');
    confirmCloseButtons.forEach(function(button) {
        button.addEventListener('click', function () {
            var proFormId = this.getAttribute('data-pro-form');
            $('#closePRoForm' + proFormId).submit();
        });
    });

</script>
{% endblock %}