<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}

<!-- HI MIGGY, before proceeding, check View button of current_purchase_order.html to be sure na nakukuha pk!
also, i added something sa views.py and urls.py, may comment din siya with my name to indicate na inadd ko siya -->
<head>
    <title>Current Purchase Orders</title>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <div class="row p-1" style="background-color: #eee;">
            <div class="col-md-auto d-flex align-items-center">
                <h4 class="m-0 mr-3">View Purchase Order</h4>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <!-- HI MIGUEL, add pk stuff here, replace the "[ insert po no.]"  -->
                <h5>Purchase Order No. {{ po.Purchase_Order_ID }}</h5>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger me-2">Delete</button>
                <button class="btn btn-primary me-2">Edit</button>
                <button class="btn btn-success me-2">Close</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <!-- HERE TOO, add pk stuff here! -->
                <p>Creation Date: {{ po.Creation_Date }}</p> 
                <p>Requested Date: {{ po.Requested_Date }}</p>
                {% if po.Customer_ID %}
                    <p>Type of Purchaser: {{ po.Customer_ID.Customer_Type }}</p>
                    <p>Purchaser Name: {{ po.Customer_ID.Customer_Name }}</p>
                    <p>Delivery Address: {{ po.Customer_ID.Address_Line_1 }}, {{ po.Customer_ID.Barangay }}, {{ po.Customer_ID.Municipality }}, {{ po.Customer_ID.Province }}</p>
                {% elif po.Consignee_ID %}
                    <p>Type of Purchaser: {{ po.Consignee_ID.Customer_Type }}</p>
                    <p>Purchaser Name: {{ po.Consignee_ID.Customer_Name }}</p>   
                    <p>Delivery Address: {{ po.Consignee_ID.Address_Line_1 }}, {{ po.Consignee_ID.Barangay }}, {{ po.Consignee_ID.Municipality }}, {{ po.Consignee_ID.Province }}</p>
                {% endif %}
                <p>Shipping Method: {{ po.Shipping_Method }}</p>
                <p>Total Due: {{ po.Total_Due }}</p>
                <p>Progress: {{ po.Progress }}</p>
            </div>
            <div class="col">
                <!-- AND THIS TOO, add pk stuff :3 -->
                {% if po.Customer_ID %}
                    <p>Primary Contact Number: {{ po.Customer_ID.Primary_Contact_Number }}</p>
                {% elif po.Consignee_ID %}
                    <p>Primary Contact Number: {{ po.Consignee_ID.Primary_Contact_Number }}</p>
                    <p>Email Address: {{ po.Consignee_ID.Email_Address }}</p>
                    <p>Emergency Contact No. (Mobile/Landline): {{ po.Consignee_ID.Emergency_Contact_Number }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="overflow-auto p-3" style="background-color: #ddd; border-radius: 10px;">
                    <h6>Notes:</h6>
                    <!-- HERE TOO, add notes pk ! -->
                    <p>{{ po.Notes }}</p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <h6>Products Ordered:</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product ID</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                            <tr>
                                <td>{{ p.Product_ID.Name }}</td>
                                <td>{{ p.Product_ID.EAS_Product_ID }}</td>
                                <td>PHP {{ p.Product_ID.Price}}</td>
                                <td>{{ p.Quantity }}</td>
                                {% load mathfilters %}
                                <td>PHP {{ p.Quantity|mul:p.Product_ID.Price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'current_pos' %}" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}