{% extends 'inventoryapp/base.html' %}
{% load static %}

{% block content %}
<div class="product-information">
    <h2>Product Information</h2>
    <ul>
        <li><strong>Product Name:</strong> {{ p.Name }}</li>
        <li><strong>Product ID:</strong> {{ p.EAS_Product_ID }}</li>
        <li><strong>SKU:</strong> {{ p.SKU }}</li>
        <li><strong>Price:</strong> {{ p.Price }}</li>
        <li><strong>Actual Count:</strong> {{ p.Actual_Inventory_Count }}</li>
        <li><strong>Category:</strong> {{ p.Category }}</li>
        <li><strong>Tags:</strong> 
            {% for c_p in con_p%}
                <span class="rounded-pill badge bg-danger"> 
                    {{ c_p.Consignee_ID.Consignee_Tag_ID }}
                </span> 
            {% endfor %}
        </li>
        
        <li><strong>Stock Level Threshold:</strong> {{ p.Product_Low_Stock_Threshold }}</li>
    </ul>
    {% if p.Picture %}
    <div class="product-image"> 
        <img src="{{p.Picture.url}}" width="50">
    </div>
    {% endif %}
    <div class="row">
        <a href="{% url 'current_inventory' %}" class="btn-danger">Back</a>
        <a href="{% url 'update_product' pk=p.Product_ID %}" class="btn-danger">Edit</a>
    </div>  
</div>
{% endblock %}