/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* ======== Colors ======= */
  --body-color: #fff;
  --sidebar-color: #e8e9eb;
  --primary-color: #970101;
  --primary-color-light: #800080;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ======== Transition ======= */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

.body{
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

/* ====== Sidebar ====== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 10px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close{
  width: 85px;
}
/* ====== Resuable CSS ====== */
.sidebar .text{
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-04);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text{
  opacity: 0;
}

.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li{
  /* position: relative; */
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

/* .sidebar li .tooltip{
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  border-radius: 6px;
  height: auto;
  min-width: 150px;
  max-width: 200px;
  padding: 5px 10px;
  background: var(--body-color);
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  margin: 0;
  display: none;
}

.sidebar.close li:hover .tooltip {
  transition: var(--tran-02);
  opacity: 1;
  top: 50%;
} */

.sidebar li .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header{
  position: relative;
}

.sidebar .image-text img{
  width: 50;
  border-radius: 6px;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;

}

header .image-text .header-text{
  display: flex;
  flex-direction: column;
}

.header-text .name{
  font-weight: 600;
}

.header-text .clock{
  margin-top: -2px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle{
  transform: translateY(-50%) rotate(180deg);
}

.sidebar .menu{
  margin-top: 35px;
}

.sidebar li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
  /* white-space: nowrap; */
}

.sidebar li:hover{
  background: var(--primary-color);
}

.sidebar li:hover .icon,
.sidebar li:hover .text{
  color: var(--sidebar-color);
}

.sidebar .menu-bar{
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-links{
  padding-left: 0;
}

.home{
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 85px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close ~ .home{
  left: 85px;
  width: calc(100% - 85px);
}