
.input-group {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 10px;
}
input[type="color"] {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}